/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 12px/20px Helvetica, Helvetica Neue, Arial;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background-color: #f5f5f5;
}

.wrapper {
    width: 90%;
    padding: 0 5%;
}

.logo {
	width: 118px;
	height: 59px;
	text-indent: -99999px;
	display: block;
	background: url(../img/logo.png) center center no-repeat;
}

a:focus {
	outline: none;
}


/* ===================
    ALL: FONTS/HEADINGS
   =================== */
h1,h2,h3,h4,h5,h6,
nav {
	font-weight: 300;
	font-family: 'Dosis', sans-serif;
	text-transform: uppercase;
}

hgroup :first-child {
	margin-bottom: 0;
}
hgroup :last-child {
	margin-top: 0;
}



/* ===================
    ALL: Gold/Grey theme
   =================== */
header .title {
	margin: 0;
}
.logo {
	border-top: 2px solid #ffd800;
}
.logo:hover,
.logo:focus,
.logo:active {
	border-top-color: #303030;
}
.header-container,
.footer-container,
.main aside {
    background: #fff;
}
header a:hover,
header a:focus {
	color: #7e7e7e;
}
#nav {
	background-color: #2f393d;
}
nav a {
	color: #303030;
}
#nav a {
	color: #dadada;
}
#nav a:hover,
#nav a:focus {
	background-color: #222;
	color: #dadada;
}
#nav a:active {
	color: #fff;
}
.logo:hover,
.logo:focus,
nav a:hover,
nav a:focus {
	color: #303030;
}
.reverse-block {
	background-color: #303030;
	color: #dadada;
}
.reverse-block a {
	color: #dadada;
}
.reverse-block a:hover,
.reverse-block a:focus {
	color: #dadada;
}




#toggle {
	display: block;
	width: 70px;
	height: 61px;
	float: right;
	margin-right: -5%;
	text-indent: -9999px;
	overflow: hidden;
	background: #2f393d url("../img/hamburger.gif") no-repeat 50% 50%;
}
#toggle.open {
	background-color: #ffd800;
}


#twitter{
    background: #F2F2F2;
    font-size: 13px;
	display: inline-block;
	border-radius: 10px;
	padding: 6px 15px 6px 15px;
    border-radius: 20px;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); 
}




/* ==============
    MOBILE: Menu
   ============== */
header .title {
	float: left;
}
nav {
	clear: both;
	font-size: 16px;
}  
nav ul {
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    padding: 10px 5%;
    text-decoration: none;
}

nav a:hover,
nav a:visited {
    color: #7e7e7e;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
	padding-top: 20px;
	padding-bottom: 20px;
}

.main article h1 {
    font-size: 1.8em;
}

.main aside {
    padding: 10px 5%;
}

.footer-container footer {
    
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
  body {
  	background: yellow;
  }
    /*nav a {
        float: left;
        margin: 0 1.7%;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }*/


/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */
    .header-container,
    .main aside {
        /*-webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;*/
    }

/* ============
    WIDE: Menu
   ============ */
  body {
  	background: red;
  }

    .title {
        float: left;
    }

    nav {
        float: left;
        margin-left: 5%;
        width: 38%;
        line-height: 58px;
    }
    nav li,
    nav a {
        display: inline;
    }
    .header-container,
    .main-container {
    	position: relative;
    	z-index: 1;
    }
    .footer-container {
    	position: fixed;
    	bottom: 0;
    	left: 0;
    	z-index: 1;
    	width: 100%;
    	height: 62px;
    }
    footer nav {
    	float: right;
    }
/* ============
    WIDE: Main
   ============ */
  .bx-wrapper {
  	display: none;
  }
    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
  body {
  	background: blue;
  }
    .wrapper {
     
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}