/*------------------------------------*\
  $COMMON
\*------------------------------------*/
html,
button,
input,
select,
textarea {
    color: #222;
}
body {
    font-size: 1em;
    line-height: 1.4;
}
body {
    font: 12px/20px Helvetica, Helvetica Neue, Arial;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    background-color: @lightGrey;
}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img {
    vertical-align: middle;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {
    resize: vertical;
}
.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
a:focus {
  outline: none;
}


/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/
.accent-heading {
  font-weight: 300;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}
.reset-lists {
  margin: 0;
  padding: 0;
  list-style: none;
}


/*------------------------------------*\
  $LAYOUT
\*------------------------------------*/
.wrapper {
    width: 90%;
    padding: 0 5%;
}




/*------------------------------------*\
  $SLIDE SHOW
\*------------------------------------*/
.show {
  .reset-lists;
}
.show-container {
  min-width: 380px;
  max-width: 900px;
}


/*------------------------------------*\
  $FONTS/HEADINGS
\*------------------------------------*/
h1,h2,h3,h4,h5,h6,
nav {
  .accent-heading;
}
hgroup :first-child {
  margin-bottom: 0;
}
hgroup :last-child {
  margin-top: 0;
}


/*------------------------------------*\
  $THEME
\*------------------------------------*/
@accentColor: #ffd800;
@paleGrey: #f5f5f5;
@lightGrey: #dadada;
@midGrey: #7e7e7e;
@darkGrey: #2f393d;
@base: #333;
@green: #54c269;

header .title {
  margin: 0;
}
.logo {
  border-top: 2px solid @accentColor;
}
.logo:hover,
.logo:focus,
.logo:active {
  border-top-color: @darkGrey;
}
.header-container,
.footer-container,
.main aside {
    background: white;
}
header a:hover,
header a:focus {
  color: @midGrey;
}
#nav {
  background-color: @darkGrey;
}
#nav ul a {
  color: @paleGrey;
  // border-top: 1px solid @base;
  // border-bottom: 1px solid @paleGrey;
}
#nav ul :first-child a {
  border-top: 0;
}
#nav ul :last-child a {
  border-bottom: 0;
}
#nav a:hover,
#nav a:focus {
  background-color: @green;
  color: #fff;
}
#nav a:active {
  color: white;
}
.reverse-block {
  background-color: @darkGrey;
  color: @lightGrey;
}
.reverse-block a {
  color: @lightGrey;
}
.reverse-block a:hover,
.reverse-block a:focus {
  color: @lightGrey;
}










/*------------------------------------*\
  $MENU
\*------------------------------------*/
#toggle {
  display: block;
  position: relative;
  height: 0;
  text-indent: -99999px;
}
#toggle:after{
  content:"";  
  background: #333 url("../img/hamburger.gif") center center no-repeat;  
  width: 60px;  
  height: 61px;  
  display: inline-block;  
  position: absolute;  
  right: 0;  
  top: -61px;  
}
#toggle.open:after {
  background-color: @accentColor;
}

nav ul {
  display: none;
  height: auto;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
}
nav li a {
    display: block;
    padding: 10px 5%;
    text-decoration: none;
}


/*------------------------------------*\
  $LOGO
\*------------------------------------*/
.logo {
  width: 118px;
  height: 59px;
  margin-left: 5%;
  text-indent: -99999px;
  display: block;
  background: url(../img/logo.png) center center no-repeat;
}

/*------------------------------------*\
  $MAIN
\*------------------------------------*/
.main {
  padding-top: 20px;
  padding-bottom: 20px;
}




/*------------------------------------*\
  $MEDIA QUERIES
\*------------------------------------*/
@media only screen and (min-width: 480px) {

  body {
    background: #efefef;
  }

}

@media only screen and (min-width: 768px) {

  body {
    background: #dfdfdf;
  }
  #toggle {
    display: none;
  }
  #nav {
    background-color: #fff;
  }
  nav {
    float: right;
    margin-right: 5%;
  }
  nav ul {
    display: block;
    float: right;
  }
  nav li {
    display: inline-block;
  }
  nav li a {
    padding-top: 0;
    padding-bottom: 0;
  }
  #nav ul a {
    color: @darkGrey;
  }
  .logo {
      float: left;
  }


}

@media only screen and (min-width: 1140px) {
  
  body {
    background: #cfcfcf;
  }

}






/*------------------------------------*\
  $HELPERS
\*------------------------------------*/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden {
    display: none !important;
    visibility: hidden;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}


/*------------------------------------*\
  $PRINT
\*------------------------------------*/
@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}